
body{
  direction: ltr;  
  width: 100%;
  background-color:white;
  color:white;
  margin:0;
  font-size: medium;
  font-family:'ENGLISHSansWeb';
}

.txt {

    direction: ltr;
      background: #000000;
    
 }

header::before{
color:#000000;
content:'\002329;
}
header::after::{
color:#000000;
content:'\00232A;
}
