  *{
    box-sizing: border-box;
   }                                                                                                                                                                       
@font-face {
      font-family: 'IRANSansWeb';                                                                                                                                     
    src: url('fonts/ttf/IRANSansWeb.ttf');
    }                                                                                                                                                                                                                                                                                        
body {
    direction: ltr;                                                                                                                                                     
    width: 100%;                                                                                                                                                        
    background:#fbba9b;                                                                                                                                                 
    font-size: medium;                                                                                                                                                  
    font-family: 'IRANSansWeb';                                                                                                                                         
    color:#000000;                                                                                                                                                      
    margin:0;                                                                                                                                                         

}
.txt {
    direction: ltr;
    margin: 1% 6% 6% 6%;                                                                                                                                                
    background: #f5f5f599;
    padding: 0% 3% 3% 5%
 }                                                                                                                                                                                                                                                                                                                                                

h1 {
    text-align:center;
    color: #000000;                                                                                                                                                     
    padding: 2% 2% 2% 2%;
    display: block
    max-width: 1600px;                                                                                                                                                  
    width: 22%;                                                                                                                                                         
    margin: 18px auto;  
}
