
body{
  direction: ltr;  
  width: 100%;
  background-color:#e5e5e5;
  color:white;
  margin:0;
  font-size: medium;
  font-family:'ENGLISHSansWeb';
}

.txt {

    direction: ltr;
    margin: 1% 6% 6% 6%;                                                                                                                                            background: #000000;
    padding: 0% 3% 3% 5%
 }                                                                                                                                                                                                                                                                                                                              header::before{
color:;
content:'\002329;
}
header::after::{
color:;
content:'\00232A;
}
